.app-header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #F8F7F8;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}

.header-logo__text {
  float: right;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  margin-left: 8px;
}

.header-logo__img {
  margin: 19.28px 0 18.28px 39px;
}

.header-right {
  display: flex;
  justify-content: space-between;
}

.header-login-name {
  display: inline-block;
  margin: 31px 81px 28px 0;
}

.header-logout__img {
  display: inline-block;
  margin: 29px 31px 31px 0;
}

@media (max-width: 425px){
  .header-login-name {
    margin-right: 20px;
  }

}